<%- model_class = NewsItem -%>
<% random = @news_item.random.present? ? @news_item.random : SecureRandom.hex(5) %>
<%= tinymce_assets %>
<%= tinymce :alternate, uploadimage_form_url: admin_image_uploader_path(id: random), uploadimage_default_img_class: "image" %>

<%= semantic_form_for([:admin, @news_item], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <% create_sorted_translation_objects(@news_item.news_item_translations).each do |trans| %>
    <%= f.fields_for :news_item_translations, trans do |translation| %>

      <div id="form-<%= trans.locale %>" class="multilanguage_nested">
        <h3><%= t("app.language.#{trans.locale}") %></h3>

        <%= translation.input :title %>
        <%= translation.input :content, :as => :text, rows: 10, :input_html => { class: 'tinymce' } %>
        <%= translation.hidden_field :locale , :value => trans.locale %>
      </div>

    <% end %>
  <% end %>

  <%= f.inputs do %>
    <div class="file input optional form-group" id="news_item_thumbnail_input">
      <label class="" for="news_item_thumbnail"><%= model_class.human_attribute_name(:thumbnail) %></label>
      <br />
      <% if @news_item.thumbnail.exists? %>
        <%= image_tag(@news_item.thumbnail.url(:small), width: 150) %>
      <% end %>
      <input id="news_item_thumbnail" name="news_item[thumbnail]" type="file">
    </div>
    <%= f.input :is_published, :as => :radio %>
    <%= f.input :published_at, :as => :string, :input_html => { :size => 20 } %>
    <%= f.hidden_field :random , :value => random %>
  <% end %>


  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('helpers.links.cancel'), admin_news_items_path, :class => 'btn btn-mini btn-warning' %>
  </div>
<% end %>


