<%- model_class = Story -%>
<% title t '.title' %>

<div id="stories-list">

  <% if @discrimination_explanation.present? && @discrimination_explanation.content.present? %>
    <%= simple_format_no_tags(@discrimination_explanation.content, {}, {sanitize: false}).html_safe %>
  <% else %>
    <p>Urna est mauris, velit magna integer dis massa integer, scelerisque in purus, hac natoque dapibus! Aenean.</p>
  <% end %>

  <div id="tell-story">
    <%= link_to new_story_path do %>
      <span><%= t('helpers.links.tell_story1') %></span>
      <%= t('helpers.links.tell_story2') %>
    <% end %>
  </div>

  <% if @stories.present? %>
    <div id="stories" class="clear">
      <%= render partial: 'stories/stories' %>
    </div>
    <div id="pagination">
      <%= link_to_next_page(@stories, t('helpers.links.load_more'), :remote => true) %>      
    </div>
  <% else %>
    <p>
      <%= t('.no_stories') %>
    </p>
  <% end %>

</div>