<%- model_class = Story -%>
<% title t '.title' %>
<% 
  links = link_to(t('helpers.links.add_story'), new_story_path, :class => 'btn btn-primary')
  links << '  '
  links << link_to(t('helpers.links.all_stories'), stories_path, :class => 'btn btn-default') 
%>
<% title_right links %>


<ul id="story-meta-list" class="list-inline">
  <li>
    <strong><%= model_class.human_attribute_name(:created_at) %>:</strong><br />
    <%= l @story.created_at, :format => :date_only %>
  </li>
  <li>
    <strong><%= model_class.human_attribute_name(:discrimination_type) %>:</strong><br />
    <%= @story.discrimination_type.name if @story.discrimination_type_id.present? %>
  </li>
  <% if @story.gender.present? %>
    <li>
      <strong><%= model_class.human_attribute_name(:gender) %>:</strong><br />
      <%= @story.gender_formatted %>
    </li>
  <% end %>
  <% if @story.age.present? %>
    <li>
      <strong><%= model_class.human_attribute_name(:age) %>:</strong><br />
      <%= @story.age %>
    </li>
  <% end %>
  <% if @story.region.present? %>
    <li>
      <strong><%= model_class.human_attribute_name(:region) %>:</strong><br />
      <%= @story.region %>
    </li>
  <% end %>
</ul>

<%= simple_format(@story.content) %>

