<%- model_class = Story -%>
<% title t '.title' %>
<% 
  links = link_to(t('helpers.links.all_stories'), stories_path, :class => 'view-all') 
%>
<% title_right links %>

<div id="story-show">

  <ul id="story-meta-list" class="list-inline">
    <li>
      <%= model_class.human_attribute_name(:created_at) %>:<br />
      <span><%= l @story.created_at, :format => :date_only %></span>
    </li>
    <li>
      <%= model_class.human_attribute_name(:discrimination_type) %>:<br />
      <span><%= @story.discrimination_type.name if @story.discrimination_type_id.present? %></span>
    </li>
    <% if @story.gender.present? %>
      <li>
        <%= model_class.human_attribute_name(:gender) %>:<br />
        <span><%= @story.gender_formatted %></span>
      </li>
    <% end %>
    <% if @story.age.present? %>
      <li>
        <%= model_class.human_attribute_name(:age) %>:<br />
        <span><%= @story.age %></span>
      </li>
    <% end %>
    <% if @story.region.present? %>
      <li>
        <%= model_class.human_attribute_name(:region) %>:<br />
        <span><%= @story.region %></span>
      </li>
    <% end %>
  </ul>

  <%= simple_format(@story.content) %>

  <div id="tell-story">
    <%= link_to new_story_path do %>
      <span><%= t('helpers.links.tell_story1') %></span>
      <%= t('helpers.links.tell_story2') %>
    <% end %>
  </div>

</div>