<div class='header'>
						<div class='title'><%= t('.title_main') %></div>
						<div class='title-score'><%= t('.title_score') %></div>
					</div>
					<div class='content'>
						<div class='grid'>
							<div class='row'>
								<div class='dummy'></div>
								<div class='human-state'><%= "#{d[:fstate]}" %></div>
								<div class='title-job'><%= d[:title_job] %></div>
								<div class='human-state'><%= "#{d[:sstate]}" %></div>
							</div>
							<div class='row'>
								<div class='dummy'></div>
								<div class='<%= d[:fclass] %>'></div>
								<div class='years-passed'><%= "#{d[:years_passed]} #{ t('.years')}" %><%= ", #{d[:months_passed]} #{ t('.months')}" if d[:months_passed] != 0 %> </div>
								<div class='<%= d[:sclass] %>'></div>
							</div>
							<div class='row'>
								<div class='dummy'></div>
								<div class='dummy'></div>
								<div class='title-diff'><%= t('.difference') %></div>
								<div class='dummy'></div>
							</div>
							<div class='row'>
								<div class='title-salary'><%= t('.salary') %></div>
								<div class='human-salary'><%= d[:fsalary_total] %></div>
								<div class='human-salary-diff'><%= d[:salary_total_diff] %></div>
								<div class='human-salary'><%= d[:ssalary_total] %></div>
							</div>
							<div class='row'>
								<div class='title-saved'><%= t('.saved') %></div>
								<div class='human-saved'><%= d[:fsaved_total] %></div>
								<div class='human-saved-diff'><%= d[:saved_total_diff] %></div>
								<div class='human-saved'><%= d[:ssaved_total] %></div>
							</div>
							<div class='row'>
								<div class='title-award'><%= t('.award') %></div>
								<div class='human-award'>
									<% d[:faward].reverse.each_with_index { |x,i| %>
										<div><div class='interest <%= "#{@interest[:items][i][:klass]}" %>'></div><div class='circle'><div class='x'>x</div><div><%= "#{x}" %></div></div></div>
									<% } %>
								</div>
								<div class='human-award-diff'>
									<% d[:daward].reverse.each_with_index { |x,i| %>
										<div><div class='interest <%= "#{@interest[:items][i][:klass]}" %>'></div><div class='circle'><div class='x'>x</div><div><%= "#{x}" %></div></div></div>
									<% } %>
								</div>
								<div class='human-award'>
									<% d[:saward].reverse.each_with_index { |x,i| %>
										<div><div class='interest <%= "#{@interest[:items][i][:klass]}" %>'></div><div class='circle'><div class='x'>x</div><div><%= "#{x}" %></div></div></div>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					<div class='footer'>
						<div class='share btn'><%= t('.share') %></div>
						<div class='play-again btn' onclick="window.location.href='<%= gap_path %>'"><%= t('.play_again') %></div>
					</div>