<div class='header'>
	<div class='title'><%= t('.title_main', state: t('.' + d[:fstate])) %></div>
	<div class='title-score'><%= t('.title_score') %></div>
	<div class='title-job'><span><%= t('.job_sector') %>:&nbsp;</span><%= d[:title_job] %></div>
	<div class='title-passed'><span><%= t('.year_passed') %>:&nbsp;</span><%= "#{d[:years_passed]} #{ t('.years')}" %><%= ", #{d[:months_passed]} #{ t('.months')}" if d[:months_passed] != 0 %> </div>
</div>
					<div class='content'>
					<table> 
					<tr>
						<td class='char'>
							<div class='<%= d[:fclass][0] %>'><div class='you'></div></div>
						</td>
						<td class='grid-wrapper'>
						<div class='grid'>
							<div class='row'>
								<div class='human-salary'><%= d[:fsalary_total] %></div>
								<div class='title-salary'><div class='box'><div class='sumlarrow'></div><%= t('.salary') %><div class='sumrarrow'></div></div></div>
								<div class='human-salary'><%= d[:ssalary_total] %></div>
							</div>
							<div class='row'>
								<div class='dummy'></div>
								<div class='title-diff'><%= t('.difference') %></div>
								<div class='dummy'></div>
							</div>
							<div class='row'>
								<div class='dummy'></div>
								<div class='human-salary-diff diff-value'><%= d[:salary_total_diff] %></div>
								<div class='dummy'></div>
							</div>
							<div class='row'>
								<div class='human-saved'><%= d[:fsaved_total] %></div>
								<div class='title-saved'><div class='sumlarrow'></div><%= t('.saved') %><div class='sumrarrow'></div></div>
								<div class='human-saved'><%= d[:ssaved_total] %></div>
							</div>
							<div class='row'>
								<div class='dummy'></div>
								<div class='title-diff'><%= t('.difference') %></div>
								<div class='dummy'></div>
							</div>
							<div class='row'>
								<div class='dummy'></div>
								<div class='human-saved-diff diff-value'><%= d[:saved_total_diff] %></div>
								<div class='dummy'></div>
							</div>					
							<div class='row'>	
								<div class='human-award'>
									<% d[:faward].reverse.each_with_index { |x,i| %>
										<div><div class='interest <%= "#{@interest[:items][i][:klass]}" %>'></div><div class='x'><%= "#{x}" %>x</div></div>
									<% } %>
								</div>
								<div class='title-award'><div class='sumlarrow'></div><%= t('.award') %><div class='sumrarrow'></div></div>		
								<div class='human-award'>
									<% d[:saward].reverse.each_with_index { |x,i| %>
										<div><div class='interest <%= "#{@interest[:items][i][:klass]}" %>'></div><div class='x'>x<%= "#{x}" %></div></div>
									<% } %>
								</div>
							</div>
						</div>
						</td>
						<td class='char'>
							<div class='<%= d[:sclass][0] %> l'></div>
						</td>
						</tr>
						</table>
					</div>
					<div class='footer'>
						<div class='share btn'><%= t('.share') %></div>
						<div class='replay btn' onclick="window.location.href='<%= gap_path %>'"><%= t('.play_again') %></div>
					</div>