<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
   <head>  
      <title><%= t('.title') %></title>
      <meta charset="utf-8">  
      <meta property="og:title"content="Gap Game Title" />
      <meta property="og:site_name" content="Gap Game"/>
      <meta property="og:description" content="Game Itself" />
      <meta property="og:type" content="website" />
      <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
      <link rel="stylesheet" type="text/css" href="/assets/gap/application.css">
   </head>
   <body>
      <div id="fb-root"></div>      
      <div class="wrapper" id="content">
        <div id="screen"></div>
        <div class='info'><div class='triangle'></div><div class='text'><%= t('gap.index.about_html') %></div></div>
        <div class='hint'><div>Use&nbsp;<span>scroll</span></div><div class='key-scroll'></div><div>or</div><div class='inb'><div class='key-left'></div><span class='shift'>arrow keys</span><div class='key-right'></div></div></div>
        <a href="<%= root_path %>" class='logo'></a>
        <a href="<%= current_url %>" class='restart'></a>
      </div>
      <!-- vendor libraries -->
      <%= javascript_include_tag *(["game"]), :media => "all" %>     
      <!-- game specific libraries -->
      <script src="/assets/gap/transform.js" charset="utf-8"></script>
      <script src="/assets/gap/util.js"></script>
      <script src="/assets/gap/data-<%= I18n.locale %>.js"></script>
      <script src="/assets/gap/player.js"></script>
      <script src="/assets/gap/var.js"></script>
      <script src="/assets/gap/queue.js"></script>
      <script src="/assets/gap/card.js"></script>
      <script src="/assets/gap/pedestal.js"></script>
      <script src="/assets/gap/human.js"></script>
      <script src="/assets/gap/engine.js"></script>      
      <script src="/assets/gap/poll.js"></script>
      <script src="/assets/gap/loader.js"></script> 
      <script src="/assets/gap/main.js"></script>      
<!--      <script src="/assets/gap/test.js"></script>  -->
<!-- http://dev-tanastsoroba.jumpstart.ge/assets/gap/sounds/m45bS4GyC.mp3 -->
   </body>
</html>