<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
   <head>  
      <title><%= "#{t('.title')} | #{t('app.common.app_name')}" %></title>
      <meta charset="utf-8">  
      <meta property="og:title"content="<%= "#{t('.title')} | #{t('app.common.app_name')}" %>" />
      <meta property="og:site_name" content="<%= t('app.common.app_name') %>"/>
      <meta property="og:description" content="<%= t('.about_html') %>" />
      <meta property="og:url" content="<%= current_url %>" />
      <meta property="og:image" content="<%= full_url("/assets/gap/svg/common/fb_image_#{I18n.locale}.png") %>" />
      <meta property="og:type" content="website" />
      <meta property="fb:app_id" content="<%= @fb_app_id %>" />
      <%= favicon_link_tag '/favicon.png', :rel => 'shortcut icon' %>
      <%= stylesheet_link_tag  *( "gap/fonts_#{I18n.locale}.css" ), :media => "all" %>  
      <link rel="stylesheet" type="text/css" href="/assets/gap/application.css">
      <%= csrf_meta_tag %>
   </head>
   <body>
      <div id="fb-root"></div>      
      <div class="wrapper">
        <div id="screen"></div>
        <div class="black-hole"></div>
        <div class='info'><div class='triangle'></div><div class='text'><%= t('gap.index.about_html') %></div></div>
        <div class='lang'>
          <% if I18n.locale == :en %>
           <%= link_to "ქა", '/ka/game' %>           
          <% else %>
            <%= link_to "en", '/en/game' %>
          <% end %>  
         </div>
        <div class="volume on"></div>
        <div class='hint'><div><%= t('.hint1') %>&nbsp;<span><%= t('.hint2') %></span></div><div class='key-scroll'></div><div><%= t('.hint3') %></div><div class='inb'><div class='key-left'></div><span class='shift'><%= t('.hint4') %></span><div class='key-right'></div></div></div>
        <a href="<%= root_path %>" class='logo tip' data-tip='<%= t('.tip_logo') %>' data-tip-type='logo'></a>
        <div class='settings tip off' data-tip='<%= t('.tip_settings') %>' data-tip-type='settings'>
        </div>
        <div class="share"></div>
        <div class='about tip' data-tip='<%= t('.tip_about') %>' data-tip-type='about'></div>
        <div class='about-window'>
          <div class='close'></div>
          <%= render partial: "gap/about" %>
        </div>
        <div class='settings-bar'>
          <div class='settings-decor-top'></div>
          <div class='options'>
            <div class='options-wr'>
              <div class='option gender'>
                <div class='key'><%= t('.gender') %></div>
                <div class='arrow'></div>
                <div class='value'></div>
                <div class='separator'></div>
              </div>
              <div class='option age'>
                <div class='key'><%= t('.age') %></div>
                <div class='arrow'></div>
                <div class='value'></div>
                <div class='separator'></div>
              </div>
              <div class='option category'>
                <div class='key'><%= t('.job') %></div>
                <div class='arrow'></div>
                <div class='value'></div>
                <div class='separator'></div>
              </div>
              <div class='option salary'>
                <div class='key'><%= t('.salary') %></div>
                <div class='arrow'></div>
                <div class='value'></div>
                <div class='separator'></div>
              </div>
              <div class='option interest'>
                <div class='key'><%= t('.interest') %></div>
                <div class='arrow'></div>
                <div class='value'></div>
                <div class='separator'></div>
              </div>
              <div class='option saving'>
                <div class='key'><%= t('.saving') %></div>
                <div class='arrow'></div>
                <div class='value'></div>
              </div>
              <div class='edit'><%= t('.edit') %></div>
            </div>
          </div>
          <div class='settings-decor-bottom'></div>
        </div>  

        <div class='popup'>
          <div class='shield'></div>
          <div class='wr'>
            <div class='content'><div class='text'></div></div>
            <div class='buttons'>
              <div class='left'><div class='ar'></div><span></span></div>
              <div class='right'><div class='ar'></div><span></span></div>
            </div>
          </div>
        </div>

      </div>
      <!-- vendor libraries -->
      <%= javascript_include_tag *(["game"]), :media => "all" %>     
      <!-- game specific libraries -->
      <script src="/assets/gap/transform.js" charset="utf-8"></script>
      <script src="/assets/gap/util.js"></script>
      <script src="/assets/gap/data-<%= I18n.locale %>.js"></script>
      <script src="/assets/gap/player.js"></script>
      <script src="/assets/gap/var.js"></script>
      <script src="/assets/gap/queue.js"></script>
      <script src="/assets/gap/card.js"></script>
      <script src="/assets/gap/pedestal.js"></script>
      <script src="/assets/gap/human.js"></script>
      <script src="/assets/gap/engine.js"></script>      
      <script src="/assets/gap/poll.js"></script>
      <script src="/assets/gap/loader.js"></script> 
      <script src="/assets/gap/main.js"></script>      
      <script> var fb = '<%= gap_share_url %>';</script>
    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12801815-37', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
   </body>
</html>