<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
   <head>  
      <title><%= t('.title') %></title>
      <meta charset="utf-8">  
      <meta property="og:title"content="Workday Sets Price Range for I.P.O." />
      <meta property="og:site_name" content="My Favorite News"/>
   <!--    <meta property="og:url" content="http://localhost:3000/en/gap#g=m&a=27&c=45bS4GyC&s=620&i=Rs2Uml6w&p=4&t=0" /> -->
      <meta property="og:description" content="Workday, a provider of cloud-based
applications for human resources, said on Monday that it would seek to price
its initial public offering at $21 to $24 a share.  At the midpoint of that
range, the offering would value the company at $3.6 billion. Like many other
technology start-ups, Workday, founded in 2005, will have a dual-class share
structure, with each Class B share having 10 votes. Its co-chief executives,
David Duffield, the founder of PeopleSoft, and Aneel Bhusri, who was chief
strategist at PeopleSoft, will have 67 percent of the voting rights after
the I.P.O., according to the prospectus." />
      <!-- <meta property="fb:app_id" content="282184988613640" /> -->
      <meta property="og:type" content="article" />
      <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
      <link rel="stylesheet" type="text/css" href="/assets/gap/application.css">
   </head>
   <body>
      <div id="gap-share">Share</div>
      <div class="wrapper" id="content">
         <div id="screen"></div>
      </div>

      <!-- vendor libraries -->
      <%= javascript_include_tag *(["game"]), :media => "all" %>     
      <!-- game specific libraries -->
      <script src="/assets/gap/transform.js" charset="utf-8"></script>
      <script src="/assets/gap/util.js"></script>
      <script src="/assets/gap/data-<%= I18n.locale %>.js"></script>
      <script src="/assets/gap/player.js"></script>
      <script src="/assets/gap/var.js"></script>
      <script src="/assets/gap/queue.js"></script>
      <script src="/assets/gap/card.js"></script>
      <script src="/assets/gap/pedestal.js"></script>
      <script src="/assets/gap/human.js"></script>
      <script src="/assets/gap/engine.js"></script>      
      <script src="/assets/gap/poll.js"></script>
      <script src="/assets/gap/main.js"></script>

  <script>

   $(document).ready(function() {
     $.ajaxSetup({ cache: true });
     $.getScript('//connect.facebook.net/en_UK/sdk.js', function()
//       js.src = "//connect.facebook.net/en_US/sdk/debug.js";
     {
       FB.init({
         appId: '737141426318491',
         xfbml      : true,
         version    : 'v2.1'
       });     
      
      $('#gap-share').click(function(){
            FB.ui({
              method: 'share',
              href: "dev-tanastsoroba.jumpstart.ge/en/gap/share"
            }, function(response){
               if (response && !response.error_code) {
                  console.log('Posting completed.');
               } else {
                  console.log('Error while posting.');
               }
            });
      });

     });
   });

      </script>

   </body>
</html>