<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
   <head>  
      <title><%= t('.title') %></title>
      <meta charset="utf-8">  
      <meta property="og:title"content="Gap Game Title" />
      <meta property="og:site_name" content="Gap Game"/>
      <meta property="og:description" content="Game Itself" />
      <meta property="og:type" content="website" />
      <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
      <link rel="stylesheet" type="text/css" href="/assets/gap/application.css">
   </head>
   <body>
      <div id="fb-root"></div>
      <div id="gap-share">Share</div>
      <div class="wrapper" id="content">
         <div id="screen"></div>
      </div>

      <!-- vendor libraries -->
      <%= javascript_include_tag *(["game"]), :media => "all" %>     
      <!-- game specific libraries -->
      <script src="/assets/gap/transform.js" charset="utf-8"></script>
      <script src="/assets/gap/util.js"></script>
      <script src="/assets/gap/data-<%= I18n.locale %>.js"></script>
      <script src="/assets/gap/player.js"></script>
      <script src="/assets/gap/var.js"></script>
      <script src="/assets/gap/queue.js"></script>
      <script src="/assets/gap/card.js"></script>
      <script src="/assets/gap/pedestal.js"></script>
      <script src="/assets/gap/human.js"></script>
      <script src="/assets/gap/engine.js"></script>      
      <script src="/assets/gap/poll.js"></script>
      <script src="/assets/gap/main.js"></script>

  <script>

   $(document).ready(function() {
     $.ajaxSetup({ cache: true });
     $.getScript('//connect.facebook.net/en_UK/sdk.js', function()
//       js.src = "//connect.facebook.net/en_US/sdk/debug.js";
     {
       FB.init({
         appId: '737141426318491',
         xfbml      : true,
         version    : 'v2.1'
       });     
      $('#gap-share').click(function(){
            FB.ui({
              method: 'share',
              href: "http://dev-tanastsoroba.jumpstart.ge/en/gap/share?" + window.location.hash.substr(1)
            }, function(response){
               if (response && !response.error_code) {
                  console.log('Posting completed.');
               } else {
                  console.log('Error while posting.');
               }
            });
      });

     });
   });

      </script>

   </body>
</html>