<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
   <head>  
      <title><%= t('.title') %></title>
      <meta charset="utf-8">  
      <meta property="og:title"content="<%= t('.title') %>" />
      <meta property="og:site_name" content="<%= t('.title') %>"/>
      <meta property="og:description" content="<%= t('gap.index.about_html') %>" />
      <meta property="og:url" content="<%= current_url %>" />
      <meta property="og:image" content="<%= full_url("/assets/gap/svg/common/fb_image_#{I18n.locale}.png") %>" />
      <meta property="og:type" content="website" />
      <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
      <%= favicon_link_tag '/favicon.png', :rel => 'shortcut icon' %>
      <%= stylesheet_link_tag  *( "gap/fonts_#{I18n.locale}.css" ), :media => "all" %>  
      <link rel="stylesheet" type="text/css" href="/assets/gap/summary.css">
   </head>
   <body>
   	<div class='wrapper'>
	   	<div class='epilogue'>
	   		<div class='slider'>
					<div class='summary'>
						<div class='content'>
							<div class='header'>
								<div class='title'><%= d[:fstate] ? t('.title_win') : t('.title_lose')  %></div>
								<div class='title-score'><%= t('.title_score') %></div>
								<div class='title-job'><span><%= t('.job_sector') %>:&nbsp;</span><%= d[:title_job] %></div>
								<div class='title-passed'><span><%= t('.year_passed') %>:&nbsp;</span><%= "#{d[:years_passed]} #{ t('.years')}" %><%= ", #{d[:months_passed]} #{ t('.months')}" if d[:months_passed] != 0 %> </div>
							</div>
							<div class='content'>
								<table> 
								<tr>
								<td class='char'>
									<div class='<%= d[:fclass][0] %>'><div class="you"><div class="text"><%= t('.you') %></div><div class="arrow-d"></div></div><img src='/assets/gap/svg/human/<%= "#{@category[:dress]}/#{d[:fclass][0]}" %>0.svg'/></div>
								</td>
								<td class='grid-wrapper'>
								<div class='grid'>
									<div class='row'>
										<div class='human-salary'><%=  number_with_delimiter(d[:fsalary_total]) %></div>
										<div class='title-salary'><div class='box'><div class='sumlarrow'></div><%= t('.salary') %><div class='sumrarrow'></div></div></div>
										<div class='human-salary'><%=  number_with_delimiter(d[:ssalary_total]) %></div>
									</div>
									<div class='row'>
										<div class='dummy'></div>
										<div class='title-diff'><%= t('.difference') %></div>
										<div class='dummy'></div>
									</div>
									<div class='row'>
										<div class='dummy'></div>
										<div class='human-salary-diff diff-value'><%=  number_with_delimiter(d[:salary_total_diff]) %></div>
										<div class='dummy'></div>
									</div>
									<div class='row'>
										<div class='human-saved'><%=  number_with_delimiter(d[:fsaved_total]) %></div>
										<div class='title-saved'><div class='sumlarrow'></div><%= t('.saved') %><div class='sumrarrow'></div></div>
										<div class='human-saved'><%=  number_with_delimiter(d[:ssaved_total]) %></div>
									</div>
									<div class='row'>
										<div class='dummy'></div>
										<div class='title-diff'><%= t('.difference') %></div>
										<div class='dummy'></div>
									</div>
									<div class='row'>
										<div class='dummy'></div>
										<div class='human-saved-diff diff-value'><%=  number_with_delimiter(d[:saved_total_diff]) %></div>
										<div class='dummy'></div>
									</div>					
									<div class='row'>	
										<div class='human-award'>
										<% d[:faward].reverse.each_with_index { |x,i| %>
										<div><div class='x'><%= "#{x}" %>x</div><div class='tip interest <%= "#{@interest[:items][i][:klass]}" %>' data-tip='<%=  "#{@interest[:items][i][:descr]}\n#{number_with_delimiter(@interest[:items][i][:cost])} GEL" %>'
										data-tip-type='coin'>

										</div></div>
									<% } %>
										</div>
										<div class='title-award'><div class='sumlarrow'></div><%= t('.award') %><div class='sumrarrow'></div></div>		
										<div class='human-award'>
										<% d[:saward].reverse.each_with_index { |x,i| %>
										<div><div class='tip interest <%= "#{@interest[:items][i][:klass]}" %>' data-tip='<%=  "#{@interest[:items][i][:descr]}\n#{number_with_delimiter(@interest[:items][i][:cost])} GEL" %>' data-tip-type='coin'></div><div class='x'>x<%= "#{x}" %></div></div>
									<% } %>
										</div>
									</div>
								</div>
								</td>
								<td class='char'>
										<div class='<%= d[:sclass][0] %> l'><img src='/assets/gap/svg/human/<%= "#{@category[:dress]}/#{d[:sclass][0]}" %>0.svg'/></div>
								</td>
								</tr>
								</table>
							</div>
							<div class='footer'>
								<div class='replay btn' onclick="window.location.href='<%= gap_path %>'"><%= t('.play_again') %></div>
								<div class='share btn'><%= t('.share') %></div>
								<div class='share_note'><%= t('.fb_note').html_safe %></div>
							</div>
						</div>					
				</div>
				<div class='whatnext'>
						<div class='whatnext-trigger up'>
							<div class='arrow up'></div>							
						</div>
						<%= render partial: "gap/about" %>						
					</div>
			</div>	
		</div>
    <%= javascript_include_tag *(["game-summary"]), :media => "all" %>     
    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12801815-37', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>
   </body>
</html>