<% title t('.title') %>

<div id="explore-data" class="row">
  <% if @questions.present? %>
    <div class="col-sm-3">

      <div class="panel-group" id="panel-instructions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#panel-instructions" href="#instructions">
                <%= t('.instructions.header') %>
              </a>
            </h4>
          </div>
          <div id="instructions" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                <%= t('.instructions.p1a') %>
                <%= t('.instructions.p1b') %>
              </p>
              <p>
                <%= t('.instructions.p2') %>
              </p>
            </div>
          </div>
        </div>
      </div>


      <%= form_tag(explore_data_path) do %>

        <%
          filter_variable = @filter.present? ? @filter[:code] : ''
        %>

        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <%= label_tag 'filter_variable', t('.form.filter_variable') %>
            <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker-filter" id="filter_variable" name="filter_variable">
              <option value=""><%= t('.form.no_filter') %></option>
              <% @questions.each do |question| %>
                <% 
                  selected = filter_variable == question.code ? 'selected=selected ' : ''
                  disabled = @col == question.code || @row == question.code ? 'disabled=disabled ' : ''
                %>
                <option value="<%= question.code %>" <%= selected %><%= disabled %>><%= "#{question.code} - #{question.text}" %></option>
              <% end %>
            </select>
          </div>
          <%
            show_filter_answers = filter_variable.blank? ? 'style=display:none;' : ''
          %>
          <div class="col-xs-6 col-sm-12">
            <div id="filter_value_container" <%= show_filter_answers %>>
              <%= label_tag 'filter_value', t('.form.filter_value') %>
              <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker-filter" id="filter_value" name="filter_value">
                <% @filter_answers.each do |answer| %>
                  <% 
                    selected = @filter.present? && @filter[:value] == answer.value.to_s &&
                                filter_variable == answer.code ? 'selected=selected ' : ''
                    disabled = filter_variable == answer.code ? '' : 'disabled=disabled '
                  %>
                  <option value="<%= answer.value %>" <%= selected %><%= disabled %> data-code="<%= answer.code %>" ><%= answer.text %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <%= label_tag 'row', t('.form.row') %>
            <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker" id="row" name="row">
              <% @questions.each_with_index do |question, index| %>
                <% 
                  selected = (@row.present? && @row == question.code) || (@col.blank? && index == 0) ? 'selected=selected ' : ''
                  disabled = @col == question.code ? 'disabled=disabled ' : ''
                %>
                <option value="<%= question.code %>" <%= selected %><%= disabled %>><%= "#{question.code} - #{question.text}" %></option>
              <% end %>
            </select>
          </div>
          <div class="col-xs-6 col-sm-12">
            <div id="var2-label-swap" class="clear">
              <%= label_tag 'col', t('.form.col') %>
              <% 
                display = 'style=display:none;'
                display = '' if @col.present? 
              %>
              <button id="btn-swap-vars" type="button" class="btn btn-default btn-xs" title="<%= t('.form.swap') %>" <%= display %>>
                <span class="glyphicon glyphicon-refresh"></span>
              </button>        
            </div>
            <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker" id="col" name="col">
              <% 
                selected = @col.blank? ? 'selected=selected' : '' %>
              %>
              <option value="" <%= selected %>><%= t('.form.no_col') %></option>
              <% @questions.each_with_index do |question, index| %>
                <% 
                  selected = @col.present? && @col == question.code ? 'selected=selected ' : ''
                  disabled = @row == question.code ? 'disabled=disabled ' : ''
                %>
                <option value="<%= question.code %>" <%= selected %><%= disabled %>><%= "#{question.code} - #{question.text}" %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <%= label_tag 'exclude_dkra', :id => 'lbl_exclude_dkra' do %>
              <%= check_box_tag 'exclude_dkra', true, params[:exclude_dkra].present? ? params[:exclude_dkra].to_bool : false %>
              <%= t('.form.exclude_dkra') %>
            <% end %>
          </div>
          <div class="col-xs-3 col-xs-offset-3 col-sm-12 col-sm-offset-0 text-right">
            <%= submit_tag t('.form.submit'), :class => 'btn btn-primary', :id => 'btn-submit' %>
          </div>
        </div>
      <% end %> 
  </div>

  <div class="col-sm-9">
    <% if @data.present? %>
      <% if @col.present? %>
        <%# crosstab %>
        <ul class="nav nav-tabs" role="tablist">
          <% if @data[:map_percents].present? %>
            <li class="active"><a href="#tab-crosstab-map" role="tab" data-toggle="tab"><%= t('.crosstab.tabs.map') %></a></li>
            <li><a href="#tab-crosstab-chart" role="tab" data-toggle="tab"><%= t('.crosstab.tabs.chart') %></a></li>
          <% else %>
            <li class="active"><a href="#tab-crosstab-chart" role="tab" data-toggle="tab"><%= t('.crosstab.tabs.chart') %></a></li>
          <% end %>
          <li><a href="#tab-crosstab-table" role="tab" data-toggle="tab"><%= t('.crosstab.tabs.table') %></a></li>
          <li><a href="#tab-crosstab-details" role="tab" data-toggle="tab"><%= t('.crosstab.tabs.details') %></a></li>
        </ul>      

        <div class="tab-content">
          <% if @data[:map_percents].present? %>
            <div class="tab-pane active" id="tab-crosstab-map">
              <h3>
                <%= t('.crosstab.map.title', :row => @data[:row_question], :col => @data[:column_question] ).html_safe %>
                <% if @filter.present? %>
                  <%= t('.crosstab.map.title_filter', :variable => @filter[:name], :value => @filter[:answer] ).html_safe %>
                <% end %>
                <br />
                <span class="total_responses">(<%= t('.crosstab.map.title_total', :num => @data[:total_responses]) %>)</span>
              </h3>
              <div><%= t('.crosstab.map.filter', :text => @data[:map_filter]) %> </div>
              <div id="map_filter" class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="default_id"><%= @data[:map_filters][0][1] %></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% @data[:map_filters].each do |filter| %>
                    <li class="map_filter"><a href="#" data-id="<%= filter[0] %>"><%= filter[1] %></a></li>
                  <% end %>
                </ul>
              </div>  

              <div id="crosstab-map"></div>

            </div>
          <% end %>
          <div class="tab-pane <%= 'active' if @data[:map_percents].blank? %>" id="tab-crosstab-chart">
            <div id="crosstab-chart"></div>
          </div>
          <div class="tab-pane" id="tab-crosstab-table">
            <h3>
              <%= t('.crosstab.table.title', :row => @data[:row_question], :col => @data[:column_question] ).html_safe %>
                <% if @filter.present? %>
                  <%= t('.crosstab.table.title_filter', :variable => @filter[:name], :value => @filter[:answer] ).html_safe %>
                <% end %>
              <br />
              <span class="total_responses">(<%= t('.crosstab.table.title_total', :num => @data[:total_responses]) %>)</span>
            </h3>
            <table id="crosstab-datatable" class="table table-striped table-hover table-nonfluid">
              <thead>
                <tr>
                  <th class="var1-col"></th>
                  <th colspan="<%= (@data[:column_answers].length + 1) %>"><%= @data[:column_question] %></th>
                </tr>
                <tr>
                  <th class="var1-col"><%= @data[:row_question] %></th>
                  <% @data[:column_answers].each do |answer| %>
                    <th><%= answer[1] %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% (0..@data[:row_answers].length-1).each do |row_index| %>
                  <tr>
                    <td class="var1-col"><%= @data[:row_answers][row_index][1] %></td>
                    <% (0..@data[:counts][row_index].length-1).each do |index| %>
                      <td>
                        <%= @data[:counts][row_index][index] %>
                        &nbsp;&nbsp;
                        <%= "(#{number_to_percentage(@data[:percents][row_index][index])})" %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="tab-crosstab-details">
            <div class="row">
              <div class="col-sm-6">
                <p>
                  <strong><%= t('.details.variable') %>:</strong>
                  <%= @data[:row_question] %>
                </p>
                <p>
                  <strong><%= t('.details.answers') %></strong>
                </p>
                <ul>
                  <% @data[:row_answers].each do |answer| %>
                    <li>
                      <%= answer[1] %>
                    </li>
                  <% end %>
                </ul> 
              </div>
              <div class="col-sm-6">
                <p>
                  <strong><%= t('.details.variable') %>:</strong>
                  <%= @data[:column_question] %>
                </p>
                <p>
                  <strong><%= t('.details.answers') %>:</strong>
                </p>
                <ul>
                  <% @data[:column_answers].each do |answer| %>
                    <li>
                      <%= answer[1] %>
                    </li>
                  <% end %>
                </ul> 
              </div>
            </div>
          </div>
        </div>

      <% else %>

        <%# onevar %>
        <ul class="nav nav-tabs" role="tablist">
          <% if @data[:map_percents].present? %>
            <li class="active"><a href="#tab-onevar-map" role="tab" data-toggle="tab"><%= t('.onevar.tabs.map') %></a></li>
            <li><a href="#tab-onevar-chart" role="tab" data-toggle="tab"><%= t('.onevar.tabs.chart') %></a></li>
          <% else %>
            <li class="active"><a href="#tab-onevar-chart" role="tab" data-toggle="tab"><%= t('.onevar.tabs.chart') %></a></li>
          <% end %>
          <li><a href="#tab-onevar-table" role="tab" data-toggle="tab"><%= t('.onevar.tabs.table') %></a></li>
          <li><a href="#tab-onevar-details" role="tab" data-toggle="tab"><%= t('.onevar.tabs.details') %></a></li>
        </ul>      

        <div class="tab-content">
          <% if @data[:map_percents].present? %>
            <div class="tab-pane active" id="tab-onevar-map">
              <h3>
                <%= t('.onevar.map.title', :row => @data[:row_question] ).html_safe %>
                <% if @filter.present? %>
                  <%= t('.onevar.map.title_filter', :variable => @filter[:name], :value => @filter[:answer] ).html_safe %>
                <% end %>
                <br />
                <span class="total_responses">(<%= t('.onevar.map.title_total', :num => @data[:total_responses]) %>)</span>
              </h3>

              <div id="onevar-map"></div>

            </div>
          <% end %>
          <div class="tab-pane <%= 'active' if @data[:map_percents].blank? %>" id="tab-onevar-chart">
            <div id="onevar-chart"></div>
          </div>
          <div class="tab-pane" id="tab-onevar-table">
            <h3>
              <%= t('.onevar.table.title', :row => @data[:row_question] ).html_safe %>
                <% if @filter.present? %>
                  <%= t('.onevar.table.title_filter', :variable => @filter[:name], :value => @filter[:answer] ).html_safe %>
                <% end %>
              <br />
              <span class="total_responses">(<%= t('.onevar.table.title_total', :num => @data[:total_responses]) %>)</span>
            </h3>
            <table id="onevar-datatable" class="table table-striped table-hover table-nonfluid">
              <thead>
                <tr>
                  <th class="var1-col"><%= @data[:row_question] %></th>
                  <th><%= t('.onevar.table.count') %></th>
                  <th><%= t('.onevar.table.percent') %></th>
                </tr>
              </thead>
              <tbody>
                <% (0..@data[:row_answers].length-1).each do |row_index| %>
                  <tr>
                    <td class="var1-col"><%= @data[:row_answers][row_index][1] %></td>
                    <td>
                      <%= @data[:counts][row_index] %>
                    </td>
                    <td>
                      <%= number_to_percentage(@data[:percents][row_index]) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="tab-onevar-details">
            <div class="row">
              <div class="col-sm-6">
                <p>
                  <strong><%= t('.details.variable') %>:</strong>
                  <%= @data[:row_question] %>
                </p>
                <p>
                  <strong><%= t('.details.answers') %></strong>
                </p>
                <ul>
                  <% @data[:row_answers].each do |answer| %>
                    <li>
                      <%= answer[1] %>
                    </li>
                  <% end %>
                </ul> 
              </div>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    <% else %>
      <p id="no-matches" class="bg-warning">
        <%= t('.no_matches') %>
      </p>
    <% end %>
    </div>
  <% else %>

    <p>
      <%= t('.no_data') %>
    </p>

  <% end %>
</div>