
<% if @questions.present? %>

  <%= form_tag(root_path) do %>
    <div class="row">
      <div class="col-sm-4">
        Variable 1:
        <%= select_tag 'row', options_for_select(@questions.map{|x| ["#{x.code} - #{x.text.titlecase}", x.code]}, params[:row]), :class => "selectpicker", :'data-live-search' => "true", :'data-size' => "7" %>
      </div>
      <div class="col-sm-4">
        Variable 2:
        <%= select_tag 'col', options_for_select(@questions.map{|x| ["#{x.code} - #{x.text.titlecase}", x.code]}, params[:col].present? ? params[:col] : @questions[1].code), :class => "selectpicker", 
          :'data-live-search' => "true", :'data-size' => "7" %>
      </div>
      <div class="col-sm-4">
      <%= submit_tag 'Get Data', :class => 'btn btn-default' %>
      </div>
    </div>

    <% if @data.present? %>
      <ul class="nav nav-tabs" role="tablist">
        <% if @data[:map].present? %>
          <li class="active"><a href="#tab-map" role="tab" data-toggle="tab">Choropleth Map</a></li>
          <li><a href="#tab-chart" role="tab" data-toggle="tab">Crosstab Chart</a></li>
        <% else %>
          <li class="active"><a href="#tab-chart" role="tab" data-toggle="tab">Crosstab Chart</a></li>
        <% end %>
        <li><a href="#tab-table" role="tab" data-toggle="tab">Data Table</a></li>
        <li><a href="#tab-details" role="tab" data-toggle="tab">Details</a></li>
      </ul>      

      <div class="tab-content">
        <% if @data[:map].present? %>
          <div class="tab-pane active" id="tab-map">
            <h3>
              <%= @data[:row_question] %>
              <br />
              by
              <br />
              <%= @data[:column_question] %>
            </h3>
            <div>Filter map by selecting an answer to '<%= @data[:map_filter] %>':</div>
            <div id="map_filter" class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span id="default_id"><%= @data[:map_filters][0][1] %></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <% @data[:map_filters].each do |filter| %>
                  <li class="map_filter"><a href="#" data-id="<%= filter[0] %>"><%= filter[1] %></a></li>
                <% end %>
              </ul>
            </div>  

            <div id="map"></div>

          </div>
        <% end %>
        <div class="tab-pane <%= 'active' if @data[:map].blank? %>" id="tab-chart">
          <div id="chart"></div>
        </div>
        <div class="tab-pane" id="tab-table">
          <table id="datatable" class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="var1-col"></th>
                <th colspan="<%= (@data[:column_answers].length + 1) %>"><%= @data[:column_question].titlecase %></th>
              </tr>
              <tr>
                <th class="var1-col"><%= @data[:row_question].titlecase %></th>
                <% @data[:column_answers].each do |answer| %>
                  <th><%= answer[1] %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% (0..@data[:row_answers].length-1).each do |row_index| %>
                <tr>
                  <td class="var1-col"><%= @data[:row_answers][row_index][1] %></td>
                  <% @data[:percents][row_index].each do |percent| %>
                    <td><%= number_to_percentage(percent) %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="tab-details">
          <div class="row">
            <div class="col-sm-6">
              <p>
                <strong>Question:</strong>
                <%= @data[:row_question].titlecase %>
              </p>
              <p>
                <strong>Possible Answers:</strong>
              </p>
              <ul>
                <% @data[:row_answers].each do |answer| %>
                  <li>
                    <%= answer[1] %>
                  </li>
                <% end %>
              </ul> 
            </div>
            <div class="col-sm-6">
              <p>
                <strong>Question:</strong>
                <%= @data[:column_question].titlecase %>
              </p>
              <p>
                <strong>Possible Answers:</strong>
              </p>
              <ul>
                <% @data[:column_answers].each do |answer| %>
                  <li>
                    <%= answer[1] %>
                  </li>
                <% end %>
              </ul> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>

  <p>
  Questions are not on file yet - have you run rake db:seed yet?
  </p>

<% end %>
