<% title t('.title') %>

<% if @stories.present? %>
  <div class="col-sm-4">
    <h2><%= t('.header_stories') %></h2>
    <ul class="list-unstyled stories-list">
      <% @stories.each do |story| %>
        <li>
          <div class="date"><%= l story.created_at, format: :date_only %></div>
          <div><%= truncate(story.content, separator: ' ', omission: '...', length: 100) %></div>
          <div><%= link_to t('helpers.links.view_story'), story_path(story) %></div>

        </li> 
      <% end %>
    </ul>
    <div class="more">
      <%= link_to t('.more'), stories_path %>
    </div>
  </div>
<% end %>

<% if @news_items.present? %>
  <div class="col-sm-4">
    <h2><%= t('.header_news') %></h2>
    <ul class="list-unstyled news-list">
      <% @news_items.each do |news| %>
        <li>
          <div class="date"><%= l news.published_at %></div>
          <div class="title"><%= link_to news.title, news_show_path(news) %></div>
        </li> 
      <% end %>
    </ul>
    <div class="more">
      <%= link_to t('.more'), news_path %>
    </div>
  </div>
<% end %>

<% if @publications.present? %>
  <div class="col-sm-4">
    <h2><%= t('.header_publications') %></h2>
    <ul class="list-unstyled publications-list">
      <% @publications.each do |publication| %>
        <li>
          <div class="date"><%= l publication.published_at %></div>
          <div class="title"><%= link_to publication.title, publications_show_path(publication) %></div>
        </li> 
      <% end %>
    </ul>
    <div class="more">
      <%= link_to t('.more'), publications_path %>
    </div>
  </div>
<% end %>