<%- model_class = Publication -%>
<%- model_class_trans = PublicationTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-group form-group-admin-buttons">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_publication_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn btn-default' %>
</div>

<table class="table table-striped display">
  <thead>
    <tr>
      <th><%= model_class_trans.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:published_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= link_to publication.title, admin_publication_path(publication) %></td>
        <td><%= link_to l(publication.published_at), admin_publication_path(publication) if publication.published_at.present? %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_admin_publication_path(publication), :class => 'btn btn-mini btn-default' %>
          <%= link_to t('app.buttons.delete'),
                      admin_publication_path(publication),
                      :method => :delete,
                      :data => { :confirm => I18n.t("helpers.links.confirm") },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


