<div id="sidebar">
  <div id="sidebar-stories">
    <h3>
      <%= t('.header_stories') %>

      <div id="sidebar-story-tell" class="pull-right">
        <%= link_to new_story_path do %>
          <span><%= t('.img_link_row1') %></span>
          <%= t('.img_link_row2') %>
        <% end %>
      </div>
    </h3>
    <div id="sidebar-story-explanation">
      <% if @discrimination_explanation.present? && @discrimination_explanation.content.present? %>
        <%= simple_format_no_tags(@discrimination_explanation.content, {}, {sanitize: false}) %>
      <% else %>
        Urna est mauris, velit magna integer dis massa integer, scelerisque in purus, hac natoque dapibus! Aenean.
      <% end %>
    </div>

    <% if @latest_stories.present? %>
      <ul class="list-unstyled">
        <% @latest_stories.each do |story| %>
          <li class="row">
            <div class="col-sm-3">
              <div class="date"><%= l story.created_at, format: :date_only %></div>
              <div><%= story.discrimination_type.name %></div>
            </div>
            <div class="col-sm-9">
              <%= link_to truncate(story.content, separator: ' ', omission: '...', length: 100), story_path(story) %>
            </div>
          </li> 
        <% end %>
      </ul>
    <% end %>
    <div id="sidebar-story-links">
      <% if @latest_stories.present? %>
        <%= link_to t('.view_stories'), stories_path %>
      <% end %>
    </div>
  </div>

  <div id="sidebar-game">
    <h3>
      <%= t('.header_game') %>  
      <span id="sidebar-game-link" class="pull-right">
        <%= link_to new_story_path do %>
          <span><%= t('.play') %></span>
          <%= t('.game') %>
        <% end %>
      </span>
    </h3>
    <div id="sidebar-game-explanation">
      <% if @game_explanation.present? && @game_explanation.content.present? %>
        <%= simple_format_no_tags(@game_explanation.content, {}, {sanitize: false}) %>
      <% else %>
        Urna est mauris, velit magna integer dis massa integer, scelerisque in purus, hac natoque dapibus! Aenean.
      <% end %>
    </div>
  </div>

  <div id="sidebar-explore">
    <h3>
      <%= t('.header_explore') %>
      <span id="sidebar-explore-link" class="pull-right">
        <%= link_to explore_data_path do %>
          <span><%= t('.explore') %></span>
          <%= t('.data') %>
        <% end %>
      </span>
    </h3>
    <p>
      <%= t('root.explore_data.instructions.p1') %>
    </p>
    <div id="sidebar-explore-image">
      <%= link_to(image_tag('chart.png'), explore_data_path) %>
    </div>
  </div>

</div>