<div id="sidebar">

  <% if params[:controller] != 'stories' %>
    <div id="sidebar-stories">
      <h3>
        <span><%= t('.header_stories1') %></span>
        <span><%= t('.header_stories2') %></span>

        <div id="sidebar-story-tell" class="header-link">
          <%= link_to new_story_path do %>
            <span><%= t('helpers.links.tell_story1') %></span>
            <%= t('helpers.links.tell_story2') %>
          <% end %>
        </div>
      </h3>
      <div id="sidebar-story-explanation">
        <% if @discrimination_explanation.present? && @discrimination_explanation.content.present? %>
          <%= simple_format_no_tags(@discrimination_explanation.content, {}, {sanitize: false}).html_safe %>
        <% else %>
          Urna est mauris, velit magna integer dis massa integer, scelerisque in purus, hac natoque dapibus! Aenean.
        <% end %>
      </div>

      <% if @latest_stories.present? %>
        <ul class="list-unstyled">
          <% @latest_stories.each do |story| %>
            <li class="row">
              <div class="col-md-3 clear">
                <div class="date"><%= l story.created_at, format: :date_only %></div>
                <div><%= story.discrimination_type.name %></div>
              </div>
              <div class="col-md-9">
                <% cls = story.content.is_georgian? ? 'geo-text-in-en' : '' %>
                <%= link_to truncate(story.content, separator: ' ', omission: '...', length: 100), story_path(story), class: cls %>
              </div>
            </li> 
          <% end %>
        </ul>
      <% end %>
      <div id="sidebar-story-links">
        <% if @latest_stories.present? %>
          <%= link_to t('.view_stories'), stories_path %>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div id="sidebar-game">
    <h3>
      <span><%= t('.header_game1') %></span>
      <span><%= t('.header_game2') %></span>

      <span id="sidebar-game-link" class="header-link pull-right">
        <%= link_to new_story_path do %>
          <span><%= t('.play') %></span>
          <%= t('.game') %>
        <% end %>
      </span>
    </h3>
    <div id="sidebar-game-coming">
      <div>
        <%= t('comming1') %>
        <span><%= t('comming2') %></span>
        <%= t('comming3') %>
      </div>
    </div>
    <div id="sidebar-game-explanation">
      <% if @game_explanation.present? && @game_explanation.content.present? %>
        <%= simple_format_no_tags(@game_explanation.content, {}, {sanitize: false}) %>
      <% else %>
        Urna est mauris, velit magna integer dis massa integer, scelerisque in purus, hac natoque dapibus! Aenean.
      <% end %>
    </div>
  </div>

  <div id="sidebar-explore">
    <h3>
      <span><%= t('.header_explore1') %></span>
      <span><%= t('.header_explore2') %></span>

      <span id="sidebar-explore-link" class="header-link pull-right">
        <%= link_to explore_data_path do %>
          <span><%= t('.explore') %></span>
          <%= t('.data') %>
        <% end %>
      </span>
    </h3>
    <div id="sidebar-explore-image">
      <%= link_to(image_tag("chart_#{I18n.locale}.png"), explore_data_path) %>
    </div>
    <div id="sidebar-explore-popup">
      <p><%= t('root.explore_data.instructions.p1') %></p>
    </div>

  </div>

</div>