<div id="sidebar">
  <h2 id="sidebar-header">
    <span><%= t('.header_get_involved1') %></span>
    <%= t('.header_get_involved2') %>
  </h2>

  <div id="sidebar-stories">
    <h3>
      <%= t('.header_stories') %>
    </h3>
    <% if @latest_stories.present? %>
      <ul class="list-unstyled">
        <% @latest_stories.each do |story| %>
          <li class="row">
            <div class="col-sm-3">
              <div class="date"><%= l story.created_at, format: :date_only %></div>
              <div><%= story.discrimination_type.name %></div>
            </div>
            <div class="col-sm-9">
              <%= link_to truncate(story.content, separator: ' ', omission: '...', length: 100), story_path(story) %>
            </div>
          </li> 
        <% end %>
      </ul>
    <% end %>
    <div id="sidebar-story-links" class="row">
      <div class="col-sm-6">
        <%= link_to t('.tell_story'), new_story_path %>
      </div>
      <div class="col-sm-6">
        <% if @latest_stories.present? %>
          <%= link_to t('.view_stories'), stories_path %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="sidebar-game">
    <h3>
      <%= t('.header_game') %>  
    </h3>
    <div id="sidebar-game-explanation">
      Urna est mauris, velit magna integer dis massa integer, scelerisque in purus, hac natoque dapibus! Aenean.
    </div>
    <div id="sidebar-game-link">
      <%= link_to t('.play'), gap_path %>
    </div>
  </div>

  <div id="sidebar-explore">
    <h3>
      <%= t('.header_explore') %>
    </h3>
    <p>
      <%= t('root.explore_data.instructions.p1') %>
    </p>
    <div id="sidebar-explore-image">
      <%= image_tag 'chart.png' %>
    </div>
    <div id="sidebar-explore-link">
      <%= link_to t('.explore'), explore_data_path %>
    </div>
  </div>

</div>